.cart-container {
    display: grid;
    grid-template-columns: 120px 200px auto auto auto;
    align-items: center;
    text-align: center;
    row-gap: 30px;
    max-width: 800px;
    padding: 40px;
    margin: auto;
    background: #fff;
    border-bottom: 2px solid #D9D9D9;
}

.popup {
    height: 100vh;
    width: 100vw;
    position: absolute;
    opacity: 0.9;
    background: grey;
}

.popup-card {
    display: flex;
    height: calc(100vh - 80px);
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.popup-card-content {
    height: 300px;
    width: 300px;
    background: #fff;
}




